.container {
  margin: auto;
  justify-content: center;
  background-color: #ffffff;
}
.bluepart {
  background-color: #2127b9;
  width: 90%;
  height: 20px;
  margin: 0 auto;
}

.Frame1 {
  margin: auto;
  background-color: #24b667;
  text-align: center;
  justify-content: center;
  width: 65%;
  height: auto;
}
.Category {
  color: #24b667;
  vertical-align: middle;
  font-size: 25px;
}
.content1 {
  color: #ffffff;
  font-size: 40px;
  margin-left: 7%;
  margin-bottom: 30px;
  font-weight: bold;
}
.content2 {
  color: #ffffff;
  font-size: 20px;
  margin-left: 7%;
  margin-bottom: 30px;
}
.content3 {
  color: #ffffff;
  font-size: 25px;
  margin-left: 7%;
}
.Frame2 {
  margin: auto;
  background-color: #24b667;
  width: 65%;
  height: 40vh;
}
.WhiteFrame {
  margin: auto;
  background-color: #ffffff;
  width: 65%;
  text-align: center;
  height: 50px;
}
.Title {
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 3%;
}
.SubTitle {
  margin-top: -20px;
  color: #ffffff;
  padding-bottom: 3%;
  font-size: 25px;
}
